/* **********General********** */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 10px;
  font-family: sans-serif;
  background-color: #f8f9fa;
}

/* **********Upper Title********** */

.nav-menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #5c7cfa;
  height: 6rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title {
  font-size: 3rem;
  color: white;
  margin-left: 9rem;
}

/* **********Add book Menu********** */

.fields-menu {
  width: 25rem;
  position: fixed;
  left: 0;
  top: 6rem;
  bottom: 0;
  background-color: #e9ecef;
}

.entry-fields {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.5rem;
  color: #343a40;
  margin-top: 3.5rem;
}

.input-fields {
  border: 1px solid #868e96;
  border-radius: 10px;
  margin-bottom: 2.5rem;
  width: 20rem;
  height: 2rem;
  box-shadow: 1px 1px 2px rgb(0 0 0 / 30%);
  font-size: 1.2rem;
  color: #343a40;
  padding-left: 1rem;
}

.entry-fields label {
  margin-bottom: 0.5rem;
}

#read-mark {
  margin-right: 1rem;
  transform: scale(1.3);
  transform: scale(1.5);
  border: 1px solid #adb5bd;
}

.add-book-button {
  font-size: 1.5rem;
  background-color: #364fc7;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
  padding: 0 1rem;
  color: white;
  height: 3rem;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 3rem;
}

.add-book-button:hover,
.add-book-button.active {
  background-color: #748ffc;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
}

/* **********Books Container********** */

.books-container {
  margin: 8rem 0rem 1rem 26rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

table {
  width: 65rem;
  margin-top: 2rem;
  border-collapse: collapse;
}

thead th {
  background-color: #5c7cfa;
  font-size: 1.5rem;
  color: white;
}

.book-title {
  width: 30%;
}

tbody {
  font-size: 1.2rem;
  color: #343a40;
}

tbody tr:nth-child(even) {
  background-color: #e9ecef;
}

th,
td {
  height: 1rem;
  padding: 1rem 2.5rem;
  text-align: center;
}

.read-icon {
  transform: scale(1.8);
  color: green;
  stroke: green;
  cursor: pointer;
}
.not-read-icon {
  transform: scale(1.8);
  color: #c92a2a;
  stroke: #c92a2a;
  cursor: pointer;
}
.delete-icon {
  transform: scale(1.5);
  color: #495057;
  stroke: #495057;
  cursor: pointer;
}
